loader.entrypoint = "file:{{ gramine.libos }}"
libos.entrypoint = "{{ entrypoint }}"

loader.env.LD_LIBRARY_PATH = "/lib"

fs.mounts = [
  { path = "/lib", uri = "file:{{ gramine.runtimedir(libc) }}" },
  { path = "/{{ entrypoint }}", uri = "file:{{ binary_dir }}/{{ entrypoint }}" },
  { path = "/dev/gramine_test_dev", uri = "dev:/dev/gramine_test_dev" },
]

sgx.debug = true

sgx.trusted_files = [
  "file:{{ gramine.libos }}",
  "file:{{ gramine.runtimedir(libc) }}/",
  "file:{{ binary_dir }}/{{ entrypoint }}",
]

sgx.allowed_files = [
  "dev:/dev/gramine_test_dev",
]

sys.ioctl_structs.gramine_test_dev_ioctl_write = [
    { size = 8, direction = "out", name = "buf_size" },    # buf_size
    { ptr = [ {size = "buf_size", direction = "out"} ] },  # buf
    { size = 8, direction = "inout" },                     # off
    { size = 8, direction = "in" },                        # copied
]

sys.ioctl_structs.gramine_test_dev_ioctl_read = [
    { size = 8, direction = "out", name = "buf_size" },   # buf_size
    { ptr = [ {size = "buf_size", direction = "in"} ] },  # buf
    { size = 8, direction = "inout" },                    # off
    { size = 8, direction = "in" },                       # copied
]

sys.ioctl_structs.gramine_test_dev_ioctl_replace_arr = [
    { size = 8, direction = "out", name = "replacements_cnt" },            # replacements_cnt
    { array_len = "replacements_cnt", ptr = [                              # replacements_arr
                                        { size = 2, direction = "out" },   # src, dst
                                        { size = 6, direction = "none" },  # padding
                                      ] },
]

sys.ioctl_structs.gramine_test_dev_ioctl_replace_list = [
    { size = 1, unit = 2, direction = "out" },        # src, dst; `unit` is just for testing
    { size = 3, adjustment = 3, direction = "none" }, # 6B padding; `adjustment` is just for testing
    { ptr = "gramine_test_dev_ioctl_replace_list" },  # next
]

# weird spacing in `onlyif` region is on purpose, to test the expression parsing
sys.ioctl_structs.gramine_test_dev_ioctl_get_set_size = [
    { size = 1, direction = "out", name = "do_set" },
    { size = 7, direction = "none" }, # 7B padding
    { onlyif = "do_set!=0", size = 8, direction = "out" },      # setting the size
    { onlyif = "do_set  ==  0  ", size = 8, direction = "in" }, # getting the size
]

sys.allowed_ioctls = [
  # three IOCTLs below test different "no struct needed" syntaxes of the `struct` key
  { request_code = 0x8100, struct = "" },  # REWIND
  { request_code = 0x8103 },               # GETSIZE
  { request_code = 0x8104 },               # CLEAR

  { request_code = 0xc0208101, struct = "gramine_test_dev_ioctl_write" },        # WRITE
  { request_code = 0xc0208102, struct = "gramine_test_dev_ioctl_read" },         # READ
  { request_code = 0x40108105, struct = "gramine_test_dev_ioctl_replace_arr" },  # REPLACE_ARR
  { request_code = 0x40108106, struct = "gramine_test_dev_ioctl_replace_list" }, # REPLACE_LIST
  { request_code = 0xc0108107, struct = "gramine_test_dev_ioctl_get_set_size" }, # GET_SET_SIZE
]
