{% set entrypoint = "eventfd_fork" -%}

libos.entrypoint = "{{ entrypoint }}"

loader.log_level = "warning"  # to print the warning about eventfd usage in child process

loader.env.LD_LIBRARY_PATH = "/lib"

fs.mounts = [
  { path = "/lib", uri = "file:{{ gramine.runtimedir(libc) }}" },
  { path = "/{{ entrypoint }}", uri = "file:{{ binary_dir }}/{{ entrypoint }}" },
]

# below is commented out to test the negative case: eventfd accessed in child process must fail
# because eventfd is in a secure single-process mode (due to commented-out line)
#sys.insecure__allow_eventfd = true

sgx.debug = true
sgx.edmm_enable = {{ 'true' if env.get('EDMM', '0') == '1' else 'false' }}

sgx.trusted_files = [
  "file:{{ gramine.runtimedir(libc) }}/",
  "file:{{ binary_dir }}/{{ entrypoint }}",
]
