{% set entrypoint = "helloworld_enc" -%}

loader.entrypoint = "file:{{ gramine.libos }}"
libos.entrypoint = "{{ entrypoint }}"

loader.log_level = "warning"

loader.env.LD_LIBRARY_PATH = "/lib"

fs.mounts = [
  { path = "/lib", uri = "file:{{ gramine.runtimedir(libc) }}" },
  { type = "encrypted", path = "/{{ entrypoint }}", uri = "file:{{ binary_dir }}/{{ entrypoint }}", key_name = "default" },
]

sgx.debug = true
sgx.edmm_enable = {{ 'true' if env.get('EDMM', '0') == '1' else 'false' }}

sgx.trusted_files = [
  "file:{{ gramine.libos }}",
  "file:{{ gramine.runtimedir(libc) }}/",

  # dummy hash of the helloworld binary, to force a Gramine fail
  { uri = "file:{{ binary_dir }}/{{ entrypoint }}", sha256 = "0000000000000000000000000000000000000000000000000000000000000000" },
]

fs.insecure__keys.default = "ffeeddccbbaa99887766554433221100"
