loader.entrypoint = "file:{{ gramine.libos }}"
libos.entrypoint = "multi_pthread"

loader.env.LD_LIBRARY_PATH = "/lib"

fs.mounts = [
  { path = "/lib", uri = "file:{{ gramine.runtimedir(libc) }}" },
  { path = "/multi_pthread", uri = "file:{{ binary_dir }}/multi_pthread" },
]

# app runs with 4 parallel threads + Gramine has couple internal threads
# TODO: legacy `sgx.thread_num` name just for testing, deprecated in v1.4, remove in v1.5
sgx.thread_num = 8
sgx.insecure__rpc_thread_num = 8

sgx.nonpie_binary = true
sgx.debug = true
sgx.edmm_enable = {{ 'true' if env.get('EDMM', '0') == '1' else 'false' }}
sgx.enable_stats = true

sgx.trusted_files = [
  "file:{{ gramine.libos }}",
  "file:{{ gramine.runtimedir(libc) }}/",
  "file:{{ binary_dir }}/multi_pthread",
]
