loader.entrypoint = "file:{{ binary_dir }}/{{ entrypoint }}"
loader.log_level = "debug"

sgx.nonpie_binary = true
sgx.debug = true
sgx.edmm_enable = {{ 'true' if env.get('EDMM', '0') == '1' else 'false' }}

sgx.allowed_files = [
  "file:{{ binary_dir }}/{{ entrypoint }}",
  "file:{{ entrypoint }}.manifest",
  "file:../regression/{{ entrypoint }}.manifest",
  "file:file_nonexist.tmp",
  "file:file_delete.tmp",
]
