.rst-content dl:not(.docutils)>dt {
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",Courier,monospace;
}
/* adds scrollbar to sidenav */
.wy-side-scroll {
    width: auto;
    overflow-y: auto;
  }
