libos.entrypoint = "{{ entrypoint }}"

loader.env.LD_LIBRARY_PATH = "/lib:{{ arch_libdir }}:/usr/{{ arch_libdir }}"
loader.insecure__use_cmdline_argv = true

fs.mounts = [
  { path = "/lib", uri = "file:{{ gramine.runtimedir() }}" },
  { path = "/{{ entrypoint }}", uri = "file:{{ binary_dir }}/{{ entrypoint }}" },
  { path = "{{ arch_libdir }}", uri = "file:{{ arch_libdir }}" },
  { path = "/usr/{{ arch_libdir }}", uri = "file:/usr/{{ arch_libdir }}" },
  { path = "/mounted", uri = "file:tmp" },

{% if entrypoint in [ "open_close", "seek_tell", "delete", "stat", "truncate", "copy_whole", "copy_seq", "copy_rev", "copy_sendfile", "copy_mmap_whole", "copy_mmap_seq", "copy_mmap_rev", "copy_mounted" ] %}
  {# these tests get already-encrypted files as input, so do not work in strict mode until we perists volumes .. #}
  { type = "encrypted", protection_mode = "non-strict", path = "/tmp/enc_input", uri = "file:tmp/enc_input" },
  { type = "encrypted", protection_mode = "non-strict", path = "/tmp/enc_output", uri = "file:tmp/enc_output" },
  { type = "encrypted", protection_mode = "non-strict", path = "/mounted/enc_input", uri = "file:tmp/enc_input" },
  { type = "encrypted", protection_mode = "non-strict", path = "/mounted/enc_output", uri = "file:tmp/enc_output" },
{% else %}
  { type = "encrypted", protection_mode = "strict", path = "/tmp/enc_input", uri = "file:tmp/enc_input" },
  { type = "encrypted", protection_mode = "strict", path = "/tmp/enc_output", uri = "file:tmp/enc_output" },
  { type = "encrypted", protection_mode = "strict", path = "/mounted/enc_input", uri = "file:tmp/enc_input" },
  { type = "encrypted", protection_mode = "strict", path = "/mounted/enc_output", uri = "file:tmp/enc_output" },
{% endif %}
  { type = "tmpfs", path = "/mnt-tmpfs" },
]

fs.insecure__keys.default = "ffeeddccbbaa99887766554433221100"

sgx.debug = true
sgx.edmm_enable = {{ 'true' if env.get('EDMM', '0') == '1' else 'false' }}
sgx.max_threads = {{ '1' if env.get('EDMM', '0') == '1' else '16' }}

sgx.allowed_files = [
  "file:tmp/",
]

sgx.trusted_files = [
  "file:{{ binary_dir }}/{{ entrypoint }}",
  "file:{{ gramine.runtimedir() }}/",
  "file:{{ arch_libdir }}/libgcc_s.so.1",
]
