Source: gramine
Priority: optional
Maintainer: Wojtek Porczyk <woju@invisiblethingslab.com>
Build-Depends: debhelper-compat (= 13),
 autoconf,
 bison,
 jq,
 gawk,
 libcurl4-openssl-dev (>= 7.58),
 libprotobuf-c-dev,
 libsgx-dcap-quote-verify-dev,
 linux-libc-dev (>= 5.11) | linux-headers-amd64 (>= 5.11),
 meson (>= 0.56),
 nasm,
 ninja-build (>= 1.8),
 perl,
 pkg-config,
 protobuf-c-compiler,
 python3-breathe,
 python3-recommonmark,
 python3-sphinx,
 python3-sphinx-rtd-theme,
 python3-tomli (>= 1.1.0),
 python3-tomli-w (>= 0.4.0),
#libunwind8,
#python3-pytest,
Standards-Version: 4.1.3
Section: misc
Homepage: https://gramine.readthedocs.io/
Vcs-Browser: https://github.com/gramineproject/gramine
Vcs-Git: https://github.com/gramineproject/gramine.git

Package: gramine
Architecture: amd64
Description: A lightweight usermode guest OS designed to run a single Linux application
Depends:
 libcurl4 (>= 7.58),
 libprotobuf-c1,
 python3,
 python3 (>= 3.10) | python3-pkg-resources,
 python3-click (>= 6.7),
 python3-cryptography,
 python3-jinja2,
 python3-pyelftools,
 python3-tomli (>= 1.1.0),
 python3-tomli-w (>= 0.4.0),
Recommends:
 gramine-ratls-dcap,
 gramine-ratls-epid,
Conflicts:
 gramine-oot,
Replaces:
 gramine-dcap (<< 1.4~),
Breaks:
 gramine-dcap (<< 1.4~),

Package: gramine-ratls-dcap
Architecture: amd64
Description: DCAP-based Remote Attestation TLS (RA-TLS) library for Gramine
Depends:
 gramine (= ${binary:Version}),
 libsgx-dcap-quote-verify,
# TODO: add appropriate dependency against libc6, possibly (>= 2.28)

Package: gramine-ratls-epid
Architecture: amd64
Description: EPID-based Remote Attestation TLS (RA-TLS) library for Gramine
Depends:
 gramine (= ${binary:Version}),
# TODO: libc6

Package: gramine-dcap
Depends:
 gramine (= ${binary:Version}),
Architecture: all
Description: transitional package
Section: oldlibs
