#!/usr/bin/make -f

include /usr/share/dpkg/default.mk

# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
export DH_VERBOSE = 1

# see FEATURE AREAS in dpkg-buildflags(1)
export DEB_BUILD_MAINT_OPTIONS = hardening=-all reproducible=-all
export DEB_CFLAGS_MAINT_SET =
export DEB_CPPFLAGS_MAINT_SET =
export DEB_CXXFLAGS_MAINT_SET =
export DEB_FCFLAGS_MAINT_SET =
export DEB_FFLAGS_MAINT_SET =
export DEB_GCJFLAGS_MAINT_SET =
export DEB_LDFLAGS_MAINT_SET =
export DEB_OBJCFLAGS_MAINT_SET =
export DEB_OBJCXXFLAGS_MAINT_SET =

%:
	dh $@ --buildsystem=meson+ninja

override_dh_clean:
	dh_clean
	$(MAKE) -C Documentation clean
	rm -rf \
		python/graminelibos/__pycache__

SGX_DRIVER_INCLUDE_PATH = \
	$(if $(wildcard /usr/include/$(DEB_BUILD_MULTIARCH)/asm/sgx.h),,\
		-Dsgx_driver_include_path=$(shell debian/get-linux-src-path.sh)/arch/x86/include/uapi)

override_dh_auto_configure:
	dpkg-buildflags --status
	
	dh_auto_configure -- \
		--buildtype=release \
		-Ddirect=enabled \
		-Dsgx=enabled \
		-Ddcap=enabled \
		$(SGX_DRIVER_INCLUDE_PATH)
	
	# assert correct version
	if ! dpkg --compare-versions "$$(meson introspect --projectinfo obj-$(DEB_HOST_MULTIARCH) | jq -r .version)" = "$(DEB_VERSION)"; \
	then \
		echo mismatched version: make sure that version in debian/changelog matches meson.build >&2; \
		exit 1; \
	fi

override_dh_auto_build:
	dh_auto_build
	$(MAKE) -C Documentation man

override_dh_strip override_dh_makeshlibs override_dh_shlibdeps override_dh_dwz:

# direct/libpal.so must be executable
override_dh_fixperms:

# TODO: run tests
override_dh_auto_test:
