{% set entrypoint = "bootstrap" -%}

loader.preload = "file:{{ gramine.libos }}"
loader.argv0_override = "{{ entrypoint }}"
libos.entrypoint = "{{ entrypoint }}"

loader.env.LD_LIBRARY_PATH = "/lib"

loader.env.A = { passthrough = true }
loader.env.B = { value = "OVERWRITTEN_VALUE" }

# loader.env.C = { passthrough = false }  # not allowed for security reasons
# loader.env.E = { passthrough = true, value = "THIS_IS_INCORRECT_SYNTAX" }

fs.mount.lib.type = "chroot"
fs.mount.lib.path = "/lib"
fs.mount.lib.uri = "file:{{ gramine.runtimedir() }}"

fs.mount.entrypoint.type = "chroot"
fs.mount.entrypoint.path = "{{ entrypoint }}"
fs.mount.entrypoint.uri = "file:{{ binary_dir }}/{{ entrypoint }}"

sgx.nonpie_binary = true
sgx.debug = true

sgx.trusted_files = [
  "file:{{ gramine.runtimedir() }}/",
  "file:{{ binary_dir }}/{{ entrypoint }}",
]
