{% set entrypoint = "bootstrap" -%}

loader.entrypoint = "file:{{ gramine.libos }}"
libos.entrypoint = "{{ entrypoint }}"

loader.argv0_override = "{{ entrypoint }}"
loader.env.LD_LIBRARY_PATH = "/lib"
loader.env_src_file = "file:env_test_input"

fs.mount.lib.type = "chroot"
fs.mount.lib.path = "/lib"
fs.mount.lib.uri = "file:{{ gramine.runtimedir() }}"

fs.mount.entrypoint.type = "chroot"
fs.mount.entrypoint.path = "{{ entrypoint }}"
fs.mount.entrypoint.uri = "file:{{ binary_dir }}/{{ entrypoint }}"

sgx.nonpie_binary = true
sgx.debug = true

# this tests the old syntax for allowed_files (TOML table)
sgx.allowed_files.env = "file:env_test_input"

sgx.trusted_files = [
  "file:{{ gramine.libos }}",
  "file:{{ gramine.runtimedir() }}/",
  "file:{{ binary_dir }}/{{ entrypoint }}",
]
