loader.preload = "file:{{ gramine.libos }}"
libos.entrypoint = "{{ entrypoint }}"
loader.env.LD_LIBRARY_PATH = "/lib"
loader.argv0_override = "{{ entrypoint }}"

fs.mount.gramine_lib.type = "chroot"
fs.mount.gramine_lib.path = "/lib"
fs.mount.gramine_lib.uri = "file:{{ gramine.runtimedir() }}"

fs.mount.entrypoint.type = "chroot"
fs.mount.entrypoint.path = "{{ entrypoint }}"
fs.mount.entrypoint.uri = "file:{{ binary_dir }}/{{ entrypoint }}"

fs.experimental__enable_sysfs_topology = true

sgx.nonpie_binary = true
sgx.debug = true

sgx.trusted_files = [
  "file:{{ gramine.runtimedir() }}/",
  "file:{{ binary_dir }}/{{ entrypoint }}",
]
