# Hello World manifest file example

loader.preload = "file:{{ gramine.libos }}"
libos.entrypoint = "helloworld"
loader.log_level = "{{ log_level }}"
loader.argv0_override = "helloworld"

loader.env.LD_LIBRARY_PATH = "/lib"

fs.mount.lib.type = "chroot"
fs.mount.lib.path = "/lib"
fs.mount.lib.uri = "file:{{ gramine.runtimedir() }}"

sgx.debug = true

sgx.trusted_files = [
  "file:helloworld",
  "file:{{ gramine.runtimedir() }}/",
]
