sphinx==4.2.0
breathe==4.29.2
sphinx_rtd_theme
tomli>=1.1.0

# Work around Sphinx/docutils incompatibility, see https://github.com/sphinx-doc/sphinx/issues/9727.
# TODO: This shouldn't be necessary once we upgrade to newer Sphinx (Sphinx 4.2.0 is not yet
