loader.entrypoint = "file:{{ gramine.libos }}"
libos.entrypoint = "{{ entrypoint }}"

# The argv source file must set argv[0] as the basename of the entrypoint. This is crucial for
# stack tests because if argv[0] contains an absolute path to the binary, then tests become
# unreliable.
loader.argv_src_file = "file:stack_arg_argv_input"

fs.mounts = [
  { path = "/{{ entrypoint }}", uri = "file:{{ binary_dir }}/{{ entrypoint }}" },
]

sgx.debug = true
sgx.edmm_enable = {{ 'true' if env.get('EDMM', '0') == '1' else 'false' }}
sgx.max_threads = {{ '1' if env.get('EDMM', '0') == '1' else '4' }}

sgx.trusted_files = [
  "file:{{ gramine.libos }}",
  "file:{{ binary_dir }}/{{ entrypoint }}",
]

sgx.allowed_files = [
  "file:stack_arg_argv_input",
]
